:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background: radial-gradient(circle at center, #1B3B5A 0%, #142B44 50%, #0D1B2A 100%);

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #5AC8FA;
  text-decoration: inherit;
}

a:hover {
  color: #7FDBFF;
}

a:hover:active {
  color: #9EEBFF;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100%;
  width: 100%;
}

#overlays {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}

.transition-enter-active, .transition-leave-active {
  transition: opacity 0.5s ease-out;
}

.transition-leave-from, .transition-enter-to {
  opacity: 1;
}

.transition-leave-to, .transition-enter-from {
  opacity: 0;
}

.page-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authCard {
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #172533;
  border: solid 2px #0D1B2A;
  border-radius: 15px;
}

.mainCard {
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #172533;
  border: solid 2px #0D1B2A;
  border-radius: 15px;
}

@media (max-width: 500px) {
  .mainCard {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    width: calc(100% - 8px);
    overflow: auto;
  }

  .authCard {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    overflow: auto;
  }
}

.mainView {
  height: 100%;
  width: 100%;

  display: flex;
}

.channelListContainer {
  margin-top: 8px;
  margin-left: 8px;
  height: calc(100% - 88px);
  width: 64px;
  border-radius: 12px;
  background-color: #1C2B3A;
  border: solid 2px #24384C;
}

.channeList {
  height: calc(100% - 76px);
  overflow: auto;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.channeList::-webkit-scrollbar {
  display: none;
}

.channeList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.addChannel {
  height: 40px;
  width: 40px;
  margin-top: 13px;
  margin-left: 10px;
  background-color: #5AC8FA;
  border: solid 2px #4AA3D1;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addChannel:hover {
  background-color: #7FDBFF;
}

.addChannel:hover:active {
  background-color: #4AA3D1;
}

.addChannel > svg {
  margin: auto;
}

.mainContent {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.profileContainer {
  height: 80px;
  width: 80px;
  padding: 8px;
  position: relative;
  flex-shrink: 0;
}

.profile {
  height: 100%;
  width: 300px;
  border-radius: 12px;
  background-color: #1C2B3A;
  border: solid 2px #24384C;

  display: flex;
  align-items: center;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile > span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  line-height: 1;
  overflow: hidden;
}

.avatar, .channelIcon {
  background-color: #2f445a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  flex-shrink: 0;

  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.avatarStatus {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.channelIcon {
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff !important;
  text-decoration: none;
}

.channelContainer {
  height: 100%;
  width: 100%;
  padding: 8px 8px 8px 0px;
  display: flex;
  flex-direction: column;
}

.channelInfo {
  width: 100%;
  height: 56px;
  background-color: #1C2B3A;
  border: solid 2px #24384C;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 6px;
  padding: 16px;
}

.optionBtn, .optionBtn-close {
  padding: 0;
  margin: 0;
  border: none;
  background: #1B3B5A;
  border-radius: 6px;

  height: 30px;
  width: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.optionBtn:hover {
  background: #244b72;
}

.optionBtn:disabled {
  background: #1c3247;
  opacity: 0.7;
}

.optionBtn-close {
  background-color: #c24a54;
}

.optionBtn-close:hover {
  background-color: #E06C75;
}

.channelInfo > .name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.messageScroller {
  flex-grow: 1;
  overflow: auto;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100%;
}

.messageList {
  width: 100%;
  padding-bottom: 12px;
}

.ellipsis-anim span {
  font-size: 16px;
  opacity: 0;
  animation: ellipsis-anim 1s infinite;
}

.ellipsis-anim span:nth-child(1) {
  animation-delay: 0.0s;
}
.ellipsis-anim span:nth-child(2) {
  animation-delay: 0.1s;
}
.ellipsis-anim span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes ellipsis-anim {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

.messageBox {
  width: calc(100% - 236px);
  align-self: flex-end;
}

@media (max-width: 700px) {
  .messageBox {
    width: 100%;
  }

  .profileContainer {
    z-index: 5;
  }

  .profile {
    width: 64px;
    z-index: 0;
  }

  .profileInfo {
    display: none;
  }
}

.message {
  display: flex;
  margin-top: 16px;
  padding: 8px 8px 4px;

  border-radius: 12px;
}

.message:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.leadingMessage {
  padding: 4px 8px;
  margin-top: 0px;
}

.leadingMessage .time {
  position: absolute;
  top: 3px;
  right: 0;
}

.leadingMessage:hover .timeHidden {
  visibility: visible;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  overflow: hidden;
}

.messageInfo > span {
  display: flex;
  align-items: center;
}

.messageInfo .authorName {
  flex-shrink: 1;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  color: #4da6ff;
  font-size: 12px;
  cursor: default;
}

.timeHidden {
  visibility: hidden;
}

.messageInfo > p {
  font-size: 16px;
  margin: 0;
  white-space: break-spaces;
  word-wrap: anywhere;
}

.topMessage {
  text-align: center;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: solid 2px #858B91;
  margin: 12px 0;
}

.cardTop {
  display: flex;
  padding-top: 50px;
}

.memberListItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Margin Vertical 12px */
.m-0 {
  margin: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.text-25 {
  font-size: 25px;
}

.text-14 {
  font-size: 14px;
}

.text-red {
  color: #E06C75;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Button */
.btn-primary {
  background-color: #2E4A67;
  border: none;
  border-bottom: solid 3px #406183;
  margin-top: 2px;

  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.btn-primary:hover {
  background-color: #31567a;
}

.btn-primary:active {
  background-color: #406183;
}

.btn-primary:disabled {
  color: #e0e0e0c2;
  background-color: #26394d;
  border-color: #364d63;
  cursor: not-allowed;
}

/* Input */

.inputOptionBtn {
  background: none;
  border: none;
  padding: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.1s ease-in;
}

.inputOptionBtn:hover {
  background-color: rgba(255,255,255,0.2);
}

.inputOptionBtn:hover:active {
  background-color: rgba(255,255,255,0.3);
}

.inputOptionBtn > svg {
  vertical-align: middle;
  text-align: center;
}

.inputContainer, .tagInputContainer {
  width: 100%;
  padding: 0px 12px;

  background: #0E1A2B;
  border: solid 2px #1B2A44;
  border-radius: 8px;

  transition: all 0.2s ease-in;

  gap: 4px;
  display: flex;
  align-items: center;
}

.inputDisabled {
  background: #141F33;
  border-color: #1C2A3E;
}

.inputFocused {
  background-color: #1E2F4D;
  border-color: #4C8DFF;
}

.inputFocused > .inputContent > span {
  color: #4C8DFF;
}

.inputFocused > .inputContent > span,
.inputNotEmpty > .inputContent > span {
  transform: translateY(-8px) scale(.75);
}

.tagInputContainer.inputFocused > .inputContent > span,
.tagInputContainer.inputNotEmpty > .inputContent > span {
  transform: translateY(-9px) scale(.75);
}

.inputContent {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.inputContent > span {
  position: absolute;
  top: 16px;
  font-size: 16px;

  transform-origin: top left;
  transition: all 0.2s ease-in;

  color: #8FA4C2;
}

.inputContent > .tags {
  font-size: 16px;
  font-weight: 400;
  padding: 26px 0px 6px 0px;
  margin: 0;
  width: 100%;
  box-sizing: content-box;
  color: #ECF3FF;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.inputContent > .tags > .tag {
  font-size: 14px;
  flex-shrink: 0;
  background-color: #1C2B3A;
  border-radius: 10px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.inputContent > .tags > input {
  flex: 1 1 0;
  background: none;
  border: none;
  height: 29px;
  min-width: min(120px, 100%);
  max-width: 100%;
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.inputContent > input {
  font-size: 16px;
  font-weight: 400;
  background: none;
  border: none;
  padding: 24px 0px 8px 0px;
  height: 24px;
  width: 100%;
  box-sizing: content-box;
  color: #ECF3FF;
}

.inputContent .msgBox {
  background: none;
  border: none;
  margin: 26px 0px 10px 0px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  min-height: 24px;
  max-height: 200px;
  height: 100%;
  width: 100%;
  resize: none;
  box-sizing: content-box;
  color: #ECF3FF;
  overflow: auto;
}

.msgBox p {
  margin: 0;
  padding: 0;
}

.inputDisabled > .inputContent > span {
  color: #6F819B;
}

.inputDisabled > .inputContent input {
  color: #A8B5C9;
}

.inputContent input:focus {
  outline: none;
}

.inputDisabled > .inputContent .msgBox {
  color: #A8B5C9;
}

.inputContent .msgBox:focus {
  outline: none;
}

.closeBtn {
  color: #e8eaed;
}

.closeBtn:hover {
  color: #E06C75;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spinner-rotation 1s linear infinite;
}

@keyframes spinner-rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}